<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple News App</title>
</head>
<body>
    <h1>News</h1>
        <div>
            <h2>{{ news_list[0].title }}</h2>
            <p>{{ news_list[0].description }}</p>
            <img src="{{ url_for('static', filename='iphone_14_pro.png') }}" alt="{{ news_list[0] }}" width="300">
            <h2>{{ news_list[1].title }}</h2>
            <p>{{ news_list[1].description }}</p>
            <img src="{{ url_for('static', filename='iPadOS-17.jpg') }}" alt="{{ news_list[0] }}" width="300">
            <h2>{{ news_list[2].title }}</h2>
            <p>{{ news_list[2].description }}</p>
            <img src="{{ url_for('static', filename='AI.jpg') }}" alt="{{ news_list[0] }}" width="300">
        </div>
</body>
